/*----------------------------------------------------carts-top start*/
.carts-top{
    width: 100%;
    background: #f5f5f5;
}
.my-top{
    width: 1210px;
    height:38px;
    padding-top: 59px; 
    line-height: 38px;
    margin: 0 auto;
}
.my-top h1{
    font-size: 24px; 
    padding-left: 14px; 
}
.my-top2{
    width: 1210px;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 46px 0 20px;
}
.my-top2 h2{
    font-size: 12px;
    float: right;
}
/*----------------------------------------------------carts-top end*/
/*----------------------------------------------------carts-list start*/
.carts-wrap{
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}
.carts-list{
    width: 1210px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.list-header{
    width: 1210px;
    margin: 0 auto;
    background: #f5f5f5;
    border-top: 2px solid #ccc;
}
.list-header div{
   display: inline-block;
    font-size: 16px;
    padding: 25px 0 30px; 
}
.list-header .lt-name{
    width: 561px;
}
.list-header .lt-price{
    width: 192px;
}
.list-header .lt-num{
    width: 128px;
    text-align: center;
}
.list-header .lt-total{
    width: 230px;
    text-align: center;
}
.list-header .lt-opera{
    color: #a6a6a6;
}
.carts-list .list-content{
    width: 1140px;
    background: #fff;
    // border-top: 1px solid #ccc;
    padding: 45px 35px;
    margin-bottom: 16px;
}
.carts-list .list-content div{
    font-size: 18px;
}
/*商品信息*/
.carts-list .list-content .cart-name{
    display: inline-block;
    width: 522px;
    height: 116px;
}
.cart-name .cart-pic{
    float: left;
    width: 116px;
    height: 116px;
    border: 1px solid #ccc;
}
.cart-name .cart-pic img{
  float: left;
  width: 114px;
  height: 114px;
  border: none;
}
.cart-name .cart-com{
    padding-left: 124px; 
}
/*单价*/
.carts-list .list-content .cart-price{
    display: inline-block;
    width: 192px;
    height: 116px;
}
/*数量*/
.carts-list .list-content .cart-num{
    display: inline-block;
    width: 128px;
    height: 116px;
    text-align: center;
}
.cart-num .num-m{
    text-align: center;
}
.cart-num .num-p{
    width: 42px;
    height: 32px;
}
.cart-num .num-p input{
    width: 40px;
    height: 31px;
    border: none;
    text-align: center;
}
.cart-num .reduce,.add{
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 24px; 
}

/*小计*/
.carts-list .list-content .cart-total{
    display: inline-block;
    width: 230px;
    height: 116px;
    color: #0a83d7;
    text-align: center;
}
/*操作*/
.carts-list .list-content .cart-opera{
    display: inline-block;
    height: 116px;
}
.cart-opera .cp_del{
    font-size: 12px;
    color: #a6a6a6; 
}
/*----------------------------------------------------carts-list end*/
/*----------------------------------------------------shop-total start*/
.shop-total{
    width: 100%;
    background: #fff;
}
.shop-total .shop-con{
    width: 1210px;
    height: 51px;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 1px dashed #999; 
    padding: 30px 0 25px 0; 
}
.shop-con .go-buy{
    float: right;
    width: 210px;
    height: 50px;
    color: #fff;
    background: #0a83d7;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.shop-con  .shop-sum{
    float: right;
    margin-right: 25px;
    font-size: 20px;
    color: #0a83d7;
}
/*----------------------------------------------------shop-total end*/