/*------------------------------------------------------------entertainment start*/
.stairs-content{
    width: 100%;
    background: #f1f4f9;
}
.entertainment{
    width: 1220px;
    height:1319px;
    margin: 0 auto;
}
.entertainment .enter-top{
    width: 1220px;
    height: 130px;
    padding-top: 30px;
}
.enter-top h2{
    width: 100px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    padding: 5px 0 5px 42px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/block1.png) no-repeat left center;
}
.enter-top .enter-list{
    text-align: center;
    height: 59px;
    margin: 0 auto;
}
.enter-top .enter-list li{
    display: inline-block;
    line-height: 59px;
}
.enter-top .enter-list li .no-border{
    border: none;
}
.enter-top .enter-list li a{
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #333;
}
.enter-cen{
    width: 1220px;
    height: 1121px;
    margin: 0 auto;
}
.enter-cen a{
    display: block;
}
.enter-cen .cen-left{
    width: 610px;
    height: 1121px;
}
.enter-cen .cen-right{
    width: 610px;
    height: 1121px;
}
 .enter-cen .top-img1{
    display: block;
    width: 600px;
    height: 703px;
    overflow: hidden;
    background: #fff;
    margin: 0 5px 10px;
}

.enter-cen .left-img1{
    width: 295px;
    height: 398px;
    position: relative;
    background: #fff;
    overflow: hidden;
    margin: 0 5px 10px;
}
.enter-cen .right-img{
    width: 295px;
    height: 194px;
    overflow: hidden;
    background: #fff;
    margin: 0 5px 10px;
    position: relative;
}
.enter-cen .cen-right .top-img2{
    float: left;
    width:295px;
    height: 294px;
    overflow: hidden;
    background: #fff;
    margin: 0 5px 10px;
    position: relative;
}
// .enter-cen .cen-right .top-img2 img{
//     display: block;
// }
.po-img{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.stairs-content img{
    cursor: pointer;
    transition: all 1s;
}
.stairs-content a:hover img{
    transform: scale(1.1);
}
/*-----------------图片上的文本开始-----*/
.img-txt{
    position: absolute;
    top:30px;
    left: 20px;
    z-index: 9;
}
.img-txt h5{
    font-size: 14px;
    color: #666;
}
.img-txt h3{
    font-size: 24px;
    padding-top: 10px;
    color: #333;
}
.img-txt p{
    font-size: 14px;
    color: #0a83d7;
    font-weight: bold;
    padding-top: 7px;
}
.img-txt span{
    display: inline-block;
    padding: 0 5px;
}
#color-c{
    color: #ccc;
}
#color-f{
    color: #fff;
}
/*-----------------图片上的文本结束-----*/
/*每层的底部样式开始*/
.chapter-bottom{
    width: 1220px;
    height: 18px;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
}
.chapter-bottom h4{
    float: left;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #2591da;
}
.chapter-bottom ul{
    float: left;
    line-height: 18px;
    padding-left: 10px;
}
.chapter-bottom li{
    float: left;
    padding: 0 10px;
    border-right: 1px solid #000;
    font-size: 12px;
}
#no-bor{
    border: none;
}
/*每层底层样式结束*/
/*------------------------------------------------------------entertainment end*/
/*------------------------------------------------------------digitalImage start*/
.digitalImage{
    width: 1220px;
    height:1624px;
    margin: 0 auto;
}
.digitalImage .digi-top{
    width: 1220px;
    height: 130px;
    padding-top: 30px;
}
.digi-top h2{
    width: 100px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    padding: 5px 0 5px 42px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/block2.png) no-repeat left center;
    background-size: 25%; 
}
.digi-top .digi-list{
    text-align: center;
    height: 59px;
    margin: 0 auto;
}
.digi-top .digi-list li{
    display: inline-block;
    line-height: 59px;
}
.digi-top .digi-list li a{
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #333;
}
.digi-top .digi-list li .no-border{
    border: none;
}
.digitalImage .digi-cen{
    width: 1220px;
    height: 1426px;
    margin: 0 auto;
}
.digi-cen .di-left,.di-right{
    width: 610px;
    height: 1426px;
    float: left; 
}
/*------------------------------------------------------------digitalImage end*/
/*------------------------------------------------------------portable audio start*/
.portable-audio{
    width: 1220px;
    height:1624px;
    margin: 0 auto;
}
.portable-audio .port-top{
    width: 1220px;
    height: 130px;
    padding-top: 30px;
}
.port-top h2{
    width: 100px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    padding: 5px 0 5px 42px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/block3.png) no-repeat left center;
    background-size: 25%; 
}
.port-top .port-list{
    height: 59px;
    text-align: center;
    margin: 0 auto;
}
.port-top .port-list li{
    display: inline-block;
    line-height: 59px;
}
.port-top .port-list li a{
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #333;
}
.port-top .port-list li .no-border{
    border: none;
}
.port-cen a{
    display: block;
}
.port-cen{
    width: 1220px;
    height: 1426px;
}
.port-cen .po-left,.po-right{
    width: 610px;
    height: 1426px;
    float: left;
}
/*---------------------------常用---*/
.mg{
    margin: 0 5px 10px;
    overflow: hidden;
}
.wh295194{
    width: 295px;
    height: 194px;
}
.wh295398{
    width: 295px;
    height: 398px;
}
.wh600703{
    width: 600px;
    height: 703px;
}
.wh295{
    width: 295px;
    height: 295px;
}
.wh600295{
    width: 600px;
    height: 295px;
}
.po{
    position: relative;
}
.bf{
    background: #fff;
}
.ab{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.ab2{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: 0 auto;
}
/*------------------------------常用结束--*/
/*------------------------------------------------------------portable audio end*/
/*------------------------------------------------------------------Tide play technology(潮玩科技) start*/
.play-tec{
    width: 1220px;
    height:911px;
    margin: 0 auto;
}
.play-tec .play-top{
    width: 1220px;
    height: 130px;
    padding-top: 30px;
}
.play-top h2{
    width: 100px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    padding: 5px 0 5px 42px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/block4.png) no-repeat left center;
    background-size: 25%; 
}
.play-top .play-list{
    text-align: center;
    height: 59px;
    margin: 0 auto;
}
.play-top .play-list li{
    display: inline-block;
    line-height: 59px;
}
.play-top .play-list li a{
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #333;
}
.play-top .play-list li .no-border{
    border: none;
}
.play-cen{
    width: 1220px;
    height: 713px;
    margin: 0 auto;
}
.play-cen .pl-left,.pl-right{
    width: 610px;
    height: 717px;
    float: left;
}
/*------------------------------------------------------------------Tide play technology(潮玩科技) end*/
/*------------------------------------------------------------------Members Only(会员专区) start*/

.member-wrap{
    width: 100%;
    color: #fff;
    background: #0a83d6;
}
.member-wrap img{
    cursor: pointer;
    transition: all 1s;
}
.member-wrap a:hover img{
    transform: scale(1.1);
}
.member-wrap .member-only{
    width: 1220px;
    height: 1320px;
    margin: 0 auto;
}
.member-only .mem-top{
    width: 1220px;
    height: 130px;
    padding-top: 30px;
}
.mem-top h2{
    width: 260px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    padding: 5px 0 5px 42px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/mem.png) no-repeat left center;
  
}
.mem-top .mem-list{
    text-align: center; 
    height: 59px;
    margin: 0 auto;
}
.mem-top .mem-list li{
    display: inline-block;
    line-height: 59px;
}
.mem-top .mem-list li a{
    font-size: 12px;
    padding: 0 20px;
    color: #fff;
    border-right: 1px solid #fff;
}
.mem-top .mem-list li .no-border{
    border: none;
}
.member-wrap .member-only .mem-cen{
    width: 1220px;
    height: 1121px;
    margin: 0 auto;
}
.mem-cen .m-left,.m-right{
    width: 610px;
    height: 1121px;
    float: left;
}
/*------------------------------------------------------------------Members Only(会员专区) end*/
/*------------------------------------------------------------------buttomMian start*/
.buttomMian-wrap{
    margin-top: 30px;
    width: 100%;
}
.buttomMian-wrap .buttom-main{
    width: 1220px;
    height: 992px;
    margin: 0 auto;
}
.buttomMian-wrap .buttom-main .btm-top{
    width: 1220px;
    height: 267px;
}
.btm-top .top-img{
    width: 396px;
    height: 236px;
    float: left;
    position: relative;
    margin-left: 10px;
}
.btm-top .top-img img{
    width: 396px;
    height: 236px;
}
.btm-top .img-tit{
    width: 102px;
    height: 49px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 9;
    line-height: 49px;
    color: #fff;
    left: 0;
    top: 0;  
}
.btm-top .img-cor1{
    background: #dc2828;
} 
.btm-top .img-cor2{
    background: #0a83d7;
} 
.btm-top .img-cor3{
    background: #ff6131;
} 
.btm-top p{
    font-size: 16px;
    padding: 10px 20px 0;
}
.buttomMian-wrap .buttom-main .btm-cen{
    width: 1210px;
    height: 120px;
    margin-top: 30px;
    margin-left: 3px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.buttomMian-wrap .buttom-main .btm-cen li{
    width: 240px;
    height:120px;
    float: left;
    border-right: 1px solid #ccc; 
}
.buttomMian-wrap .buttom-main .btm-cen .no-border{
    border: none;
}
.buttomMian-wrap .buttom-main .btm-cen a{
    display: inline-block;
    width: 239px;
    height: 120px;
    text-align: center;
}
.buttomMian-wrap .buttom-main .btm-cen a:hover .on-img{
    display: inline;
}
.buttomMian-wrap .buttom-main .btm-cen a:hover .out-img{
    display: none;
}
.buttomMian-wrap .buttom-main .btm-cen img{
    padding-top: 25px;
}
.buttomMian-wrap .buttom-main .btm-cen .on-img{
    display: none;
}
.buttomMian-wrap .buttom-main .btm-buttom{
    width: 1210px;
    height: 553px;
    margin-top:30px;
}
.btm-buttom .bb-left{
    width:726px;
    font-size: 12px;
    border-right: 1px solid #ccc;
}
.btm-buttom .bb-left h2{
    font-size: 22px;
    margin: 10px 0;
}
.btm-buttom .bb-left span{
    color: #ccc;
}
.btm-buttom .bb-left li{
   margin-bottom: 10px;
}
.btm-buttom .bb-right h2{
    font-size: 22px;
    margin: 10px 0 10px 20px;
}
.btm-buttom .bb-right ul{
    width: 452px;
    height: 131px;
    margin-left: 20px;
    font-size: 12px;
}
.btm-buttom .bb-right ul li{
    width: 84px;
    height: 121px;
    float: left;
    margin: 0 20px 10px 0;
    text-align: center;
}
.btm-buttom .bb-right ul li a{
    color: #3f80b8;
}
/*------------------------------------------------------------------buttomMian end*/
/*------------------------------------------------------------------stairs aims start*/
.stairs-aims{
    width: 50px;
    height: 255px;
    position: fixed;
    display: none;
    right: 3px;
    bottom: 60px;
    z-index: 9;
}
.stairs-aims li{
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-bottom: 1px solid #f2f2f2;
}
.stairs-aims .li1{
    background: url(../images/stairs1.jpg) no-repeat center center;
}
.stairs-aims .li2{
    background: url(../images/stairs2.jpg) no-repeat center center;
}
.stairs-aims .li3{
    background: url(../images/stairs3.jpg) no-repeat center center;
}
.stairs-aims .li4{
    background: url(../images/stairs4.jpg) no-repeat center center;
}
.stairs-aims .li5{
    background: url(../images/stairs5.jpg) no-repeat center center;
}
.stairs-aims .li6{
    background: url(../images/stairs6.png) no-repeat center center;
}
.stairs-aims li.active{
    background: pink;
}

/*------------------------------------------------------------------stairs aims end*/